################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoffeeManagement/FileContentIndex/259c74f1-9e3e-44d0-af73-1dd6afee68e4.vsidx
/.vs/CoffeeManagement/FileContentIndex/5153d6b0-ea9a-40de-b020-0a54feddc12f.vsidx
/.vs/CoffeeManagement/FileContentIndex/90b58f96-1343-4a63-a177-31b0a701f242.vsidx
/.vs/CoffeeManagement/FileContentIndex/962437ce-7bf0-4fbb-ba15-31d98adb9f5f.vsidx
/.vs/CoffeeManagement/FileContentIndex/07846d38-6483-4f71-bdaf-c378078c8cbc.vsidx
/.vs/CoffeeManagement/FileContentIndex/5153d6b0-ea9a-40de-b020-0a54feddc12f.vsidx
/.vs/CoffeeManagement/FileContentIndex/259c74f1-9e3e-44d0-af73-1dd6afee68e4.vsidx
/.vs/CoffeeManagement/FileContentIndex/90b58f96-1343-4a63-a177-31b0a701f242.vsidx
/.vs/CoffeeManagement/FileContentIndex/962437ce-7bf0-4fbb-ba15-31d98adb9f5f.vsidx
